
@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

body{
  text-align: center;
  background: black;
  font-family: VCR;
  font-weight: 100;
}

body > .container {
  padding-top: 0px;
  
}

h1{
  position: fixed;
  color: #d9dfdb;
  font-weight: 100;
  font-size: 20px;
  margin: 100px 0px 0px;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

#site-logo {
  display: inline-block;
}

#clockdiv{
    position: fixed;
    font-family: VCR;
    color: #d9dfdb;
    display: inline-block;
    background-color: inherit;
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#clockdiv > div{
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

#social-media {
  background-color: inherit;
  position: fixed;
  text-align: left;
  color: #d9dfdb;
  width: 100%;
  height: auto;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -100%);
}

#social-media ul {
  list-style-type: none;
}

#social-media li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
}

footer > .container {
    padding-top: 60px;
}