@font-face {
  font-family: Loopy;
  src: url(LOOPY___.ttf);
}

body {
  color: black;
  background-color: white; /* #171716 */
  /*background-repeat: repeat;*/
  /* background-size: 120px 120px; */
  font-family: Loopy;
  /* overflow-x: none */
}

.container {
  background-color: inherit;
}

#centermsg {
  color: inherit;
  position: fixed;
  font-family: inherit;
  text-align: center;
  font-size: 45px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clockdiv {
  color: inherit;
  position: fixed;
  font-family: inherit;
  /* font-weight: none; */
  text-align: center;
  font-size: 80px;
  /* Position decs */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clockdiv > div {
  background: inherit;
  display: inline-block;
}
