@font-face {
  font-family: Loopy;
  src: url(LOOPY___.ttf);
}

body {
  background-color: black; /* #171716 */
}

img {
  width: 100%;
}

#main_ctn {
  position: relative;
  vertical-align: middle;
  display: table-cell;
  bottom: 115px;
}

#centermsg {
  display: table;
  position: relative;
  height: 100%;
  left: 25%;
  background-color: black;
  width: 50%;
}

@media only screen and (max-width: 769px) {

   #centermsg {
      width: 70%;
      left: 15%;
   }

   /*body {
     background-color: yellow;
   }*/
}


/*
#clockdiv {
  color: inherit;
  position: fixed;
  font-family: inherit;
  text-align: center;
  font-size: 100px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clockdiv > div {
  background: inherit;
  display: inline-block;
}
*/
