@font-face {
  font-family: Retro;
  src: url(Retroville_NC.ttf);
}

body {
  background-color: black; /* #171716 */
  background-image: url('giphy.gif');
  background-size: cover;
  font-family: Retro;
}

img {
  width: 100%;
}

.main_txt_ctn {
  color: #3366cc;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  /*border: 10px solid green;*/
}

.main_ctn {
  position: relative;
  width: 10%;
  display: table-cell;
  vertical-align: middle;
  /*border: 10px solid green;*/
}

.btn_ctn {
  width: 100%;
  /*border: 10px solid red;*/
}

#clck_btn {
  width: 100%;
  color: white;
  height: 70px;
  display: block;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  /*border: 10px solid purple;
  background-color: darkgrey;*/
}

.clck_btn_abt {
  width: 50%;
  color: white;
  height: 70px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  transform: translateX(50%);
  /* border: 10px solid orange;
  background-color: darkgrey;*/
  display: table;
}

.centermsg {
  width: 50%;
  height: 100%;
  display: table;
  /*border: 10px solid white;*/
  transform: translateX(50%);
}

.wrappers {
  height: 90%;
  display: block;
}

@media only screen and (max-width: 769px) {

   .centermsg {
      width: 50%;
      left: 10%;
   }

   /*body {
     background-color: yellow;
   }*/
}

/*
#clockdiv {
  color: inherit;
  position: fixed;
  font-family: inherit;
  text-align: center;
  font-size: 100px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#clockdiv > div {
  background: inherit;
  display: inline-block;
}
*/
