@font-face {
  font-family: Walbaum-Fraktur;
  src: url(Walbaum-Fraktur.ttf);
}

body {
  background-color: white;
  background-image: url("space_stars4.gif");
  background-repeat: repeat;
  background-size: 120px 120px;
  font-family: Walbaum-Fraktur;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
}

/*img {
  width: 150px;
  height: 180px;
  padding-top: 1px;
  margin-bottom: -90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}*/

.face {
  position: absolute;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  bottom: 100px;
  left: 400px;
  z-index: 1;
}

h1 {
  font-family: Walbaum-Fraktur;
  color: #faffb3;
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-family: Walbaum-Fraktur;
  color: #e1d6ca;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
  /* padding-right: 85px; */
}

#core {
  padding-top: 100px;
}

#logo {
  text-align: center;
  display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;

}

.terms {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #ffefe7;
  max-width: 700px;
  text-align: center;
  font-size: 18px;
}

.video {
  width: 95%;
}

.mediax {
  color: #fff3da;
  max-width: 500px;
  font-size: 20px;
  text-align: center;
}

.mediax > p > a {
  text-decoration: none;
  color: inherit;
}

.mediax > p > a:hover {
  color: #d6ccb7;
  font-size: 25px;
}

.musics {
  max-width: 500px;
}

.nav_links {
  position: absolute;
  list-style-type: none;
  text-align: center;
  /*border-style: dotted;*/
  font-size: 26px;
  left: 50%;
  top: 8%;
  transform: translate(-50%, -50%);
}

.nav_links > li {
  display: inline;
  padding-right: 18px;
}

/* Most smart phones */
@media only screen and (max-device-width: 480px) {
  .nav_links {
    font-size: 23px;
    white-space: nowrap;
  }

  .nav_links > li {
    display: inline;
    padding-right: 18px;
  }
}

/* iPads */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .nav_links {
    font-size: 35px;
    white-space: nowrap;
  }

  .nav_links > li {
    display: inline;
    padding-right: 18px;
  }

  body {
    background-color: white;
    background-image: url("space_stars4.gif");
    background-repeat: repeat;
    background-size: 350px 350px;
    /*font-family: Walbaum-Fraktur;*/
    overflow-x: hidden;
    /*overflow-y: hidden;*/
  }

  .terms {
    margin-top: 55px;
    color: #ffefe7;
    max-width: 700px;
    text-align: center;
    font-size: 30px;
  }

  .mediax {
    margin-top: 55px;
    color: #fff3da;
    max-width: 500px;
    font-size: 55px;
    text-align: center;
  }

  h1 {
    color: #faffb3;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
  }

  h2 {
    color: #e1d6ca;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    text-decoration: underline;
    /* padding-right: 85px; */
  }
}

.nav_links > li > a {
  text-decoration: none;
  color: #fff3da;
}

.nav_links > li > a:hover {
  color: #d6ccb7;
}

#active_link {
  color: #a49c8c;
  font-weight: 0;
  text-decoration: none;
}

#disabled_link {
  text-decoration: line-through;
  color: #e1d6ca;
}

.tiny_note {
  font-size: 17px;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}

.centerLogo {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#clockdiv{
    position: fixed;
    font-family: Walbaum-Fraktur;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#clockdiv > div{
    background: inherit;
    display: inline-block;
}

#clockdiv div > span{
    background: inherit;
    display: inline-block;
}

/* Below this line is CSS for satelites */

.sat {
  position: fixed;
  width: 65px;
  height: 60px;
}

/*.sat_1 {
  position: fixed;
  width: 70px;
  height: 60px;
}
.sat_2 {
  position: fixed;
  width: 70px;
  height: 60px;
  bottom: 500px;
}
.sat_3 {
  position: fixed;
  width: 70px;
  height: 60px;
}
.sat_4 {
  position: fixed;
  width: 70px;
  height: 60px;
}
.sat_5 {
  position: fixed;
  width: 70px;
  height: 60px;
}
.sat_6 {
  position: fixed;
  width: 70px;
  height: 60px;
}
.sat_7 {
  position: fixed;
  width: 70px;
  height: 60px;
}

.sat_8 {
  position: fixed;
  width: 70px;
  height: 60px;
}

.sat_9 {
  position: fixed;
  width: 70px;
  height: 60px;
}*/
