@font-face {
  font-family: VCR;
  src: url(VCR_OSD_MONO_1.001.ttf);
}

body {
  background-color: #BF6374;
  font-family: VCR;
}

img {
  width: 450px;
  height: 180px;
  padding-top: 1px;
  margin-bottom: -90px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  color: #e1d6ca;
  font-size: 18px;
  font-weight: 0;
  text-align: center;
}

h2 {
  color: #e1d6ca;
  font-size: 15px;
  font-weight: 100;
  text-align: center;
  text-decoration: underline;
  /* padding-right: 85px; */
}

#core {
  padding-top: 60px;
}

#logo {
  text-align: center;
  display:block;
    max-width: 300px;
    margin: 0 auto;
    width: 90%;

}

.terms {

  color: #e1d6ca;
  max-width: 500px;
  text-align: left;
}

.video {
  width: 95%;
  border: none;
}

.media {

  color: #e1d6ca;
  max-width: 500px;
  font-size: 14px;
  text-align: center;
}

.media > p > a {
  text-decoration: none;
  color: inherit;
}

.media > p > a:hover {
  color: #ffa100;
  font-size: 15px;
}

.musics {

  max-width: 500px;
}

.nav_links {
  list-style-type: none;
  text-align: center;
  padding-top: 35px;

}

.nav_links > li {
  display: inline;
  padding-right: 20px;
}

.nav_links > li > a {
  text-decoration: none;
  color: #e1d6ca;
}

.nav_links > li > a:hover {
  color: #ffa100;
}

#active_link {
  color: #ffa100;
  font-weight: bold;
}

#disabled_link {
  text-decoration: line-through;
  color: #e1d6ca;
}

.tiny_note {
  font-size: 9px;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
  font-style: italic;
}
